body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #0abcc2;
}
.categori-aktif {
  background-color: #0abcc2;;
  color: white;
}
.btn-primary {
  background-color: #0abcc2;
}

.btn-success {
  background-color: #0abcc2;
}


@media only screen and (max-height: 1000px) {
  .hasil{
    height: 650px;
  }
}

.menu{
  height: 800px;
}
.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
